{% extends 'base.html' %}

{% block content %}
    {% for studio in studios %}
        <div>
            <a class="btn btn-default" href="{% url 'studio_edit' pk=studio.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'studio_delete' pk=studio.pk %}">
                    <span class="glyphicon glyphicon-trash"></span></a>
            <h1><a href="{% url 'studio_detail' pk=studio.pk %}">{{ studio.name }}</a></h1>
        </div>
    {% endfor %}
{% endblock %}